/* Grozs pogai */
.cart-popup button {
    padding: 12px 24px;
    background-color: #e01b8e;
    color: #fcfcfc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;        /* lielāki burti */
    font-weight: bold;      /* biezāks fonts */
    transition: background-color 0.3s ease;
}

.cart-popup button:hover {
    background-color: #000000;
}

/* Produktu sadaļas pogai */
.product .add-to-cart {
    padding: 12px 24px;
    background-color: white;
    color: #e01b8e;
    border: 2px solid #e01b8e;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;        /* lielāki burti */
    font-weight: bold;      /* biezāks fonts */
    transition: all 0.3s ease;
}

.product .add-to-cart:hover {
    background-color: #e01b8e;
    color: white;
    border-color: #e01b8e;
}

/* Izlabota kļūda */
.product .price {
    font-size: 18px;
    color: black;
    margin: 10px 0;
}
